@import "tailwindcss";

/* --- Fonts (Gilroy) --- */
@font-face {
    font-family: 'Gilroy-BlackItalic';
    src: url('../../../public/fonts/gilroy/Gilroy-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../../../public/fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
